{% extends "account/base.html" %}

{% block APPTITLE-MOB %}
Hoi {{ user.first_name }} {{ user.last_name }} !
{% endblock %}
{% block APPTITLE %}
    {% if bt_type == 'A' %}
        Konto
    {% else %}
        Monatliches Budget
    {% endif %}
{% endblock %}

{% block content %}
    <div class="callout primary">
        <form action="" method="post">{% csrf_token %}
            <div class="grid-x">
                <div class="cell small-2">
                    <span>{% if bt_type == 'A' %}Konto{% else %}Budget{% endif %}</span>
                </div>
                <div class="cell auto">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a href="#">{{ bt_bez }}</a>
                            {% if bt_list %}
                                <ul class="menu">
                                    {% for bt in bt_list %}
                                        <li class="{% if bt.aktiv %}active{% endif %} {% if bt.type == 'A' %}konto-type{% endif %}">
                                            <a href="{% url 'account:settype' bt.id %}" data-set-budget-typ="{{ bt.id }}">{{ bt.type }}-{{ bt.label }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="cell small-4">
                    <span>{% if bt_type != 'A' %}für {{ month_desc }}{% endif %}</span></div>
            </div>
        </form>
        <div class="text-center">
            <span style="font-style: italic;">Stand:&nbsp;</span>
            {% if bk_amount < 200 %}
                <span class="text__big" style="color: red;">{{ bk_amount |stringformat:"d" }}.-</span>
            {% elif bk_amount < 1000 %}
                <span class="text__big" style="color: lightsalmon;">{{ bk_amount |stringformat:"d" }}.-</span>
            {% else %}
                <span class="text__big">{{ bk_amount |stringformat:"d" }}.-</span>
            {% endif %}
            CHF
        </div>
        <div>
            <form action="" method="post">{% csrf_token %}
                {% if bt_type == 'A' %}
                    <input class="small" type="number" name="amount" value="" placeholder="Ein / Auszahlung" />
                {% else %}
                    <input class="small" type="number" name="amount" value="" placeholder="Ausgabe" />
                {% endif %}
                <input class="wider" type="text" name="info" value=""  placeholder="Info" />
                <input class="button expanded" type="submit" value="save" />
            </form>
            {% if MSG %}
                <div class="grid-x">
                    <div class="cell text-center">
                        <span class="label success">{{ MSG }}</span>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
    <div class="cell text-center">
        {% if Q_Account_Pos %}
            <table class="">
                <thead>
                    <tr>
                        <th class="al">Datum</th>
                        <th class="ar">CHF</th>
                        <th class="al">Info</th>
                    </tr>
                </thead>
                <tbody>
                {% for pos in Q_Account_Pos %}
                    <tr>
                        <td class="nowrap">{{ pos.booking_date | date:"D d. M" }}</td>
                        <td class="ar">
                        {% if pos.booking_amount < 0 %}
                            <span style="color: #cc4b37;font-style: italic;">{{ pos.booking_amount |stringformat:"d" }}.-</span>
                        {% else %}
                            <span style="color: #002D33">{{ pos.booking_amount |stringformat:"d" }}.-</span>
                        {% endif %}
                        </td>
                        <td class="al">{{ pos.booking_info }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="label warning">
                {% if bt_type == 'A' %}
                    Keine Ein- / Auszahlungs-Positionen vorhanden
                {% else %}
                    Keine Budget-Positionen vorhanden
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}